<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'admin_nav.html' %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Account Creation</th>
        </tr>
    </thead>
    <tbody>
        {% for user in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.mobile }}</td>
            <td>{{ user.created_at }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">No Customers available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>