<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'admin_nav.html' %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Slug</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.slug }}</td>
            <td>{{ category.description }}</td>
            <td>
                <a href="/edit_category/{{category.id}}" class="btn btn-warning">Edit</a>
                <a href="/delete_category/{{category.id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">No categories available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>